{% extends "layouts/base-template.njk" %}

{% block page_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">{{ t.pageTitle }} {{ header.locationName }}</h1>

    <p class="govuk-body">
      {% for line in header.addressLines %}
        {{ line }}{% if not loop.last %}<br>{% endif %}
      {% endfor %}
    </p>

    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{ t.listFor }} {{ header.contentDate }}</p>
    <p class="govuk-body">{{ t.lastUpdated }} {{ header.lastUpdated }}</p>

    <details class="govuk-details" data-module="govuk-details" open>
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          {{ t.importantInformation }}
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">{{ t.openJustice1 }}</p>
        <p class="govuk-body">{{ t.openJustice2 }}</p>
        <p class="govuk-body">{{ t.openJustice3 }}</p>
        <p class="govuk-body">
          {{ t.openJustice4 }}
          {% if openJustice.email %} {{ openJustice.email }}{% endif %}{% if openJustice.phone %} {{ openJustice.phone }}{% endif %}
        </p>
        <p class="govuk-body">{{ t.openJustice5 }}</p>
        <p class="govuk-body">{{ t.openJustice6 }}</p>
      </div>
    </details>

    <div class="govuk-form-group govuk-!-margin-top-6">
      <label class="govuk-label govuk-heading-m" for="case-search-input">{{ t.searchCases }}</label>
      <input class="govuk-input govuk-!-width-one-half" id="case-search-input" name="search" type="text">
    </div>

    <div id="court-lists-container">
    {% for courtList in listData.courtLists %}
      {% set courtHouse = courtList.courtHouse %}
      {% if courtHouse.courtHouseAddress %}
        <div class="govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-l">{{ courtHouse.courtHouseName }}</h2>
          {% for line in courtHouse.courtHouseAddress.line %}
            {% if line | length %}
              <p class="govuk-body">{{ line }}</p>
            {% endif %}
          {% endfor %}
          {% if courtHouse.courtHouseAddress.town | length %}
            <p class="govuk-body">{{ courtHouse.courtHouseAddress.town }}</p>
          {% endif %}
          {% if courtHouse.courtHouseAddress.county | length %}
            <p class="govuk-body">{{ courtHouse.courtHouseAddress.county }}</p>
          {% endif %}
          {% if courtHouse.courtHouseAddress.postCode | length %}
            <p class="govuk-body">{{ courtHouse.courtHouseAddress.postCode }}</p>
          {% endif %}
        </div>
      {% endif %}

      <div class="govuk-accordion" data-module="govuk-accordion">
        {% for courtRoom in courtHouse.courtRoom %}
          {% for session in courtRoom.session %}
            <div class="govuk-accordion__section govuk-accordion__section--expanded">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button">
                    {{ courtRoom.courtRoomName }}
                  </span>
                </h2>
              </div>
              <div class="govuk-accordion__section-content">
                <table class="govuk-table hearings-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header no-wrap">{{ t.tableHeaders[0] }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ t.tableHeaders[1] }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ t.tableHeaders[2] }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ t.tableHeaders[3] }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ t.tableHeaders[4] }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ t.tableHeaders[5] }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ t.tableHeaders[6] }}</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    {% for sitting in session.sittings %}
                      {% set durationText = '' %}
                      {% if sitting.durationAsHours > 0 %}
                        {% if sitting.durationAsHours > 1 %}
                          {% set durationText = sitting.durationAsHours ~ ' ' ~ t.hearingDurationHours %}
                        {% else %}
                          {% set durationText = sitting.durationAsHours ~ ' ' ~ t.hearingDurationHour %}
                        {% endif %}
                      {% endif %}
                      {% if sitting.durationAsMinutes > 0 %}
                        {% if durationText | length %}
                          {% set durationText = durationText ~ ' ' %}
                        {% endif %}
                        {% if sitting.durationAsMinutes > 1 %}
                          {% set durationText = durationText ~ sitting.durationAsMinutes ~ ' ' ~ t.hearingDurationMinutes %}
                        {% else %}
                          {% set durationText = durationText ~ sitting.durationAsMinutes ~ ' ' ~ t.hearingDurationMinute %}
                        {% endif %}
                      {% endif %}

                      {% for hearing in sitting.hearing %}
                        {% for case in hearing.case %}
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell no-wrap">{{ sitting.time }}</td>
                            <td class="govuk-table__cell no-wrap">{{ durationText }}</td>
                            <td class="govuk-table__cell no-wrap">{{ case.caseNumber }}{% if case.caseSequenceIndicator %} [{{ case.caseSequenceIndicator }}]{% endif %}</td>
                            <td class="govuk-table__cell">
                              {{ case.applicant }}<br>
                              <span class="govuk-body-s">{{ t.rep }}: {% if case.applicantRepresentative %}{{ case.applicantRepresentative }}{% else %}{{ t.noRep }}{% endif %}</span>
                            </td>
                            <td class="govuk-table__cell">
                              {{ case.respondent }}<br>
                              <span class="govuk-body-s">{{ t.rep }}: {% if case.respondentRepresentative %}{{ case.respondentRepresentative }}{% else %}{{ t.noRep }}{% endif %}</span>
                            </td>
                            <td class="govuk-table__cell no-wrap">{{ hearing.hearingType }}</td>
                            <td class="govuk-table__cell no-wrap">{{ sitting.caseHearingChannel }}</td>
                          </tr>
                        {% endfor %}
                      {% endfor %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    {% endfor %}
    </div>

    <p class="govuk-body govuk-!-margin-top-6">
      {{ t.dataSource }}: {{ dataSource }}
    </p>

  </div>
</div>
{% endblock %}
