{% extends "layouts/base-template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ title }} - {{ serviceName }} - {{ govUk }}
{% endblock %}

{% block page_content %}
<div class="parent-box">

  <h1 class="govuk-heading-l">{{ heading }}</h1>

  {{ govukButton({
    text: addButton,
    href: '/location-name-search'
  }) }}

  {% if count > 0 %}
    <table class="govuk-table" id="locations-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-three-quarters" aria-sort="none">{{ tableHeaderLocation }}</th>
          <th scope="col" class="govuk-table__header">{{ tableHeaderDate }}</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">{{ tableHeaderActions }}</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for subscription in subscriptions %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ subscription.locationName }}</td>
            <td class="govuk-table__cell" style="white-space: nowrap;">{{ subscription.dateAdded | date('D MMMM YYYY') }}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="/delete-subscription?subscriptionId={{ subscription.subscriptionId }}" class="govuk-link">
                {{ removeLink }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="govuk-body">{{ noSubscriptions }}</p>
  {% endif %}

</div>
{% endblock %}
