{% extends "layouts/base-template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  {{ bulkUnsubscribeTitle }} - {{ serviceName }} - {{ govUk }}
{% endblock %}

{% block page_content %}
<div class="parent-box">

  {% if errors %}
    {{ govukErrorSummary({
      titleText: errorSummaryTitle,
      errorList: errors
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{ bulkUnsubscribeHeading }}</h1>

  {% if showEmptyState %}
    <p class="govuk-body govuk-!-margin-top-6">{{ emptyStateMessage }}</p>
  {% else %}
    <nav class="moj-sub-navigation" aria-label="Subscription filters">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" {% if currentView == 'all' %}aria-current="page"{% endif %} href="/bulk-unsubscribe?view=all">{{ tabAllSubscriptions }} ({{ allSubscriptionsCount }})</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" {% if currentView == 'case' %}aria-current="page"{% endif %} href="/bulk-unsubscribe?view=case">{{ tabSubscriptionsByCase }} ({{ caseSubscriptionsCount }})</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" {% if currentView == 'location' %}aria-current="page"{% endif %} href="/bulk-unsubscribe?view=location">{{ tabSubscriptionsByCourt }} ({{ courtSubscriptionsCount }})</a>
        </li>
      </ul>
    </nav>

    <form method="post" action="/bulk-unsubscribe" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <input type="hidden" name="view" value="{{ currentView }}">

      {% if currentView == 'all' %}
        {% if hasCaseSubscriptions %}
          <table class="govuk-table" id="case-subscriptions-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="width: 30%;">{{ tableHeaderCaseName }}</th>
                <th scope="col" class="govuk-table__header" style="width: 30%;">{{ tableHeaderReferenceNumber }}</th>
                <th scope="col" class="govuk-table__header" style="width: 30%;">{{ tableHeaderDateAdded }}</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 10%; text-align: right;">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small">
                    <input
                      class="govuk-checkboxes__input select-all-checkbox"
                      id="select-all-case"
                      type="checkbox"
                      data-table="case-subscriptions-table"
                      aria-label="Select all case subscriptions">
                    <label class="govuk-label govuk-checkboxes__label" for="select-all-case">
                      <span class="govuk-visually-hidden">Select all</span>
                    </label>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for subscription in caseSubscriptions %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">{{ subscription.caseName or notAvailable }}</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">{{ subscription.caseNumber or notAvailable }}</td>
                  <td class="govuk-table__cell" style="white-space: nowrap; vertical-align: middle;">{{ subscription.dateAdded | date('D MMMM YYYY') }}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" style="text-align: right; vertical-align: middle;">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small">
                      <input
                        class="govuk-checkboxes__input row-checkbox"
                        id="case-{{ subscription.subscriptionId }}"
                        name="subscriptions"
                        type="checkbox"
                        value="{{ subscription.subscriptionId }}"
                        aria-label="Select {{ subscription.caseName or subscription.caseNumber }}"
                        {% if subscription.subscriptionId in previouslySelected %}checked{% endif %}>
                      <label class="govuk-label govuk-checkboxes__label" for="case-{{ subscription.subscriptionId }}">
                        <span class="govuk-visually-hidden">Select {{ subscription.caseName or subscription.caseNumber }}</span>
                      </label>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}

        {% if hasCourtSubscriptions %}
          <table class="govuk-table" id="court-subscriptions-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="width: 60%;">{{ tableHeaderCourtName }}</th>
                <th scope="col" class="govuk-table__header" style="width: 30%;">{{ tableHeaderDateAdded }}</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 10%; text-align: right;">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small">
                    <input
                      class="govuk-checkboxes__input select-all-checkbox"
                      id="select-all-court"
                      type="checkbox"
                      data-table="court-subscriptions-table"
                      aria-label="Select all court subscriptions">
                    <label class="govuk-label govuk-checkboxes__label" for="select-all-court">
                      <span class="govuk-visually-hidden">Select all</span>
                    </label>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for subscription in courtSubscriptions %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">{{ subscription.courtOrTribunalName }}</td>
                  <td class="govuk-table__cell" style="white-space: nowrap; vertical-align: middle;">{{ subscription.dateAdded | date('D MMMM YYYY') }}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" style="text-align: right; vertical-align: middle;">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small">
                      <input
                        class="govuk-checkboxes__input row-checkbox"
                        id="court-{{ subscription.subscriptionId }}"
                        name="subscriptions"
                        type="checkbox"
                        value="{{ subscription.subscriptionId }}"
                        aria-label="Select {{ subscription.courtOrTribunalName }}"
                        {% if subscription.subscriptionId in previouslySelected %}checked{% endif %}>
                      <label class="govuk-label govuk-checkboxes__label" for="court-{{ subscription.subscriptionId }}">
                        <span class="govuk-visually-hidden">Select {{ subscription.courtOrTribunalName }}</span>
                      </label>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      {% endif %}

      {% if currentView == 'case' %}
        {% if hasCaseSubscriptions %}
          <table class="govuk-table" id="case-subscriptions-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="width: 30%;">{{ tableHeaderCaseName }}</th>
                <th scope="col" class="govuk-table__header" style="width: 30%;">{{ tableHeaderReferenceNumber }}</th>
                <th scope="col" class="govuk-table__header" style="width: 30%;">{{ tableHeaderDateAdded }}</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 10%; text-align: right;">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small">
                    <input
                      class="govuk-checkboxes__input select-all-checkbox"
                      id="select-all-case"
                      type="checkbox"
                      data-table="case-subscriptions-table"
                      aria-label="Select all case subscriptions">
                    <label class="govuk-label govuk-checkboxes__label" for="select-all-case">
                      <span class="govuk-visually-hidden">Select all</span>
                    </label>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for subscription in caseSubscriptions %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">{{ subscription.caseName or notAvailable }}</td>
                  <td class="govuk-table__cell" style="vertical-align: middle;">{{ subscription.caseNumber or notAvailable }}</td>
                  <td class="govuk-table__cell" style="white-space: nowrap; vertical-align: middle;">{{ subscription.dateAdded | date('D MMMM YYYY') }}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" style="text-align: right; vertical-align: middle;">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small">
                      <input
                        class="govuk-checkboxes__input row-checkbox"
                        id="case-{{ subscription.subscriptionId }}"
                        name="subscriptions"
                        type="checkbox"
                        value="{{ subscription.subscriptionId }}"
                        aria-label="Select {{ subscription.caseName or subscription.caseNumber }}"
                        {% if subscription.subscriptionId in previouslySelected %}checked{% endif %}>
                      <label class="govuk-label govuk-checkboxes__label" for="case-{{ subscription.subscriptionId }}">
                        <span class="govuk-visually-hidden">Select {{ subscription.caseName or subscription.caseNumber }}</span>
                      </label>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p class="govuk-body">{{ noCaseSubscriptions }}</p>
        {% endif %}
      {% endif %}

      {% if currentView == 'location' %}
        {% if hasCourtSubscriptions %}
          <table class="govuk-table" id="court-subscriptions-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="width: 60%;">{{ tableHeaderCourtName }}</th>
                <th scope="col" class="govuk-table__header" style="width: 30%;">{{ tableHeaderDateAdded }}</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 10%; text-align: right;">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small">
                    <input
                      class="govuk-checkboxes__input select-all-checkbox"
                      id="select-all-court"
                      type="checkbox"
                      data-table="court-subscriptions-table"
                      aria-label="Select all court subscriptions">
                    <label class="govuk-label govuk-checkboxes__label" for="select-all-court">
                      <span class="govuk-visually-hidden">Select all</span>
                    </label>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for subscription in courtSubscriptions %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="vertical-align: middle;">{{ subscription.courtOrTribunalName }}</td>
                  <td class="govuk-table__cell" style="white-space: nowrap; vertical-align: middle;">{{ subscription.dateAdded | date('D MMMM YYYY') }}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" style="text-align: right; vertical-align: middle;">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small">
                      <input
                        class="govuk-checkboxes__input row-checkbox"
                        id="court-{{ subscription.subscriptionId }}"
                        name="subscriptions"
                        type="checkbox"
                        value="{{ subscription.subscriptionId }}"
                        aria-label="Select {{ subscription.courtOrTribunalName }}"
                        {% if subscription.subscriptionId in previouslySelected %}checked{% endif %}>
                      <label class="govuk-label govuk-checkboxes__label" for="court-{{ subscription.subscriptionId }}">
                        <span class="govuk-visually-hidden">Select {{ subscription.courtOrTribunalName }}</span>
                      </label>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p class="govuk-body">{{ noCourtSubscriptions }}</p>
        {% endif %}
      {% endif %}

      <div class="govuk-button-group govuk-!-margin-top-6">
        {{ govukButton({
          text: bulkUnsubscribeButton,
          classes: "govuk-button"
        }) }}
      </div>
    </form>
  {% endif %}

</div>

<script src="{{ select_all_js }}"></script>
{% endblock %}
