{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set navigationItems = [] %}
{% if navigation and navigation.verifiedItems %}
  {% for item in navigation.verifiedItems %}
    {% set navigationItems = (navigationItems.push(item), navigationItems) %}
  {% endfor %}
{% endif %}

{% set navigationEndHtml %}
  {% if isAuthenticated %}
    <li class="govuk-service-navigation__item govuk-service-navigation__navigation-end"><a class="govuk-service-navigation__link" href="/logout">{{ navigation.signOut or authenticatedNavigation.signOut }}</a></li>
  {% else %}
    <li class="govuk-service-navigation__item govuk-service-navigation__navigation-end"><a class="govuk-service-navigation__link" href="/sign-in">{{ navigation.signIn }}</a></li>
  {% endif %}
  {% if languageToggle and language %}
    <li class="govuk-service-navigation__item govuk-service-navigation__navigation-end app-language-toggle">
      <a class="govuk-service-navigation__link"
         href="{{ languageToggle.link }}"
         lang="{{ otherLocale }}"
         aria-label="{{ language.switchAriaLabel }}">
        {{ language.switch }}
      </a>
    </li>
  {% endif %}
{% endset %}

{{ govukServiceNavigation({
  serviceName: serviceName,
  serviceUrl: "/",
  navigation: navigationItems if navigationItems.length > 0 else undefined,
  slots: {
    navigationEnd: navigationEndHtml
  },
  rebrand: true
}) }}
