{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set navigationEndHtml %}
  {% if isAuthenticated %}
    <li class="govuk-service-navigation__item"><a class="govuk-service-navigation__link" href="/logout">{{ navigation.signOut }}</a></li>
  {% else %}
    <li class="govuk-service-navigation__item"><a class="govuk-service-navigation__link" href="/auth/login">{{ navigation.signIn }}</a></li>
  {% endif %}
{% endset %}

{{ govukServiceNavigation({
  serviceName: serviceName,
  serviceUrl: "/",
  slots: {
    navigationEnd: navigationEndHtml
  },
  rebrand: true
}) }}
