{% extends "layouts/base-template.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block backLink %}
  {{ govukBackLink({
    text: back,
    href: backLink
  }) }}
{% endblock %}

{% block page_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errors %}
      {{ govukErrorSummary({
        titleText: errorSummaryTitle,
        errorList: errors
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">{{ title }}</h1>

    <form method="post" novalidate>
      {{ govukInput({
        id: "location",
        name: "locationId",
        type: "text",
        label: {
          text: "Search",
          classes: "govuk-visually-hidden"
        },
        hint: {
          text: searchHint
        },
        errorMessage: { text: errors[0].text } if errors else undefined,
        value: (preselectedLocation.welshName if locale === "cy" else preselectedLocation.name) if preselectedLocation else "",
        attributes: {
          "data-location-id": preselectedLocation.id if preselectedLocation else "",
          "data-autocomplete": "true",
          "data-locale": locale,
          "data-no-results-message": noResultsFound
        }
      }) }}

      {{ govukButton({
        text: continueButton
      }) }}
    </form>

    <p class="govuk-body">
      <a href="/courts-tribunals-list" class="govuk-link">{{ azListLink }}</a>
    </p>

  </div>
</div>
{% endblock %}
