{% extends "layouts/base-template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  {{ title }} - {{ serviceName }} - {{ govUk }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: back,
    href: "/subscription-by-location"
  }) }}
{% endblock %}

{% block page_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ heading }}</h1>

    {% if hasLocations %}
      <p class="govuk-body">{{ description }}</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">{{ tableHeadName }}</th>
            <th scope="col" class="govuk-table__header">{{ tableHeadAction }}</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for location in locationRows %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ location.name }}</td>
            <td class="govuk-table__cell">
              <a href="/subscription-locations-review?remove={{ location.locationId }}" class="govuk-link">{{ removeLink }}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <p class="govuk-body">
        <a href="/subscription-by-location" class="govuk-link">{{ addAnotherLink }}</a>
      </p>

      <form method="get" action="/subscription-list-types" novalidate>
        {{ govukButton({
          text: continueButton
        }) }}
      </form>
    {% else %}
      <p class="govuk-body">{{ noLocationsMessage }}</p>

      <p class="govuk-body govuk-!-margin-bottom-6">
        <a href="/subscription-by-location" class="govuk-link">{{ selectLocationsLink }}</a>
      </p>

      <form method="get" action="/subscription-list-types" novalidate>
        {{ govukButton({
          text: continueWithoutLocations
        }) }}
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
