{% extends "layouts/base-template.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
  {{ pageTitle }} - {{ serviceName }} - {{ govUk }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukPanel({
      titleText: pageTitle
    }) }}

    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6">{{ nextStepsTitle }}</p>

    <p class="govuk-body">
      <a href="/location-metadata-search{% if lng == 'cy' %}?lng=cy{% endif %}" class="govuk-link">{{ searchLocationMetadataLink }}</a>
    </p>

  </div>
</div>
{% endblock %}
