{% extends "layouts/base-template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block page_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if errors %}
      {{ govukErrorSummary({
        titleText: errorTitle,
        errorList: errors
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

    <p class="govuk-body">{{ disclaimerText }}</p>
    <p class="govuk-body">{{ responsibility }}</p>

    <form method="post" novalidate>
      <input type="hidden" name="artefactId" value="{{ artefactId }}">

      {{ govukCheckboxes({
        name: "agreed",
        items: [
          {
            value: "yes",
            text: checkboxLabel
          }
        ],
        errorMessage: { text: errorCheckbox } if errors else undefined
      }) }}

      {{ govukButton({
        text: continueButton
      }) }}
    </form>

  </div>
</div>
{% endblock %}
