{% extends "layouts/base-template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if errorSummary %}
      {{ govukErrorSummary(errorSummary) }}
    {% endif %}

    <h1 class="govuk-heading-l">{{ heading }}</h1>

    {{ govukInsetText({
      text: insetText
    }) }}

    <form method="post" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      {{ govukInput({
        id: "referenceNumber",
        name: "referenceNumber",
        classes: "govuk-!-width-one-half",
        label: {
          text: referenceNumberLabel,
          classes: "govuk-visually-hidden"
        },
        errorMessage: fieldErrors.referenceNumber if fieldErrors and fieldErrors.referenceNumber,
        value: data.referenceNumber if data
      }) }}

      {{ govukButton({
        text: continueButton
      }) }}
    </form>

  </div>
</div>
{% endblock %}
