{% extends "layouts/base-template.njk" %}

{% block page_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
  </div>
</div>

{% if pendingCount > 0 %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-notification-banner govuk-notification-banner--important" role="region" aria-labelledby="notification-title">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="notification-title">Important</h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          {{ notificationText | replace("x", pendingCount) }}
          <a class="govuk-notification-banner__link" href="/media-applications">{{ notificationLink }}</a>.
        </p>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a href="/manual-upload" class="admin-tile">
      <h2 class="admin-tile__heading">{{ tiles[0].heading }}</h2>
      <p class="admin-tile__description">{{ tiles[0].description }}</p>
    </a>
  </div>
  <div class="govuk-grid-column-one-half">
    <a href="/non-strategic-upload" class="admin-tile">
      <h2 class="admin-tile__heading">{{ tiles[1].heading }}</h2>
      <p class="admin-tile__description">{{ tiles[1].description }}</p>
    </a>
  </div>
  <div class="govuk-grid-column-one-half">
    <a href="/remove-list-search" class="admin-tile">
      <h2 class="admin-tile__heading">{{ tiles[2].heading }}</h2>
      <p class="admin-tile__description">{{ tiles[2].description }}</p>
    </a>
  </div>
  {% if tiles[3] %}
  <div class="govuk-grid-column-one-half">
    <a href="/media-applications" class="admin-tile">
      <h2 class="admin-tile__heading">{{ tiles[3].heading }}</h2>
      <p class="admin-tile__description">{{ tiles[3].description }}</p>
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}
