{% extends "layouts/base-template.njk" %}

{% block page_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

    <p class="govuk-body">{{ saveInstructions }}</p>

    {% for file in files %}
      <p class="govuk-body">
        <a href="{{ file.url }}" class="govuk-link">
          {% if file.type === "pdf" %}{{ downloadPdfLink }}{% else %}{{ downloadExcelLink }}{% endif %} ({{ file.sizeLabel }}) {{ toDevice }}
        </a>
      </p>
    {% endfor %}

    <p class="govuk-body govuk-!-margin-top-6">{{ contactInfo }}</p>

  </div>
</div>
{% endblock %}
