{% extends "layouts/base-template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block page_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errors %}
      {{ govukErrorSummary({
        titleText: errorSummaryTitle,
        errorList: errors
      }) }}
    {% endif %}

    <h1 class="govuk-heading-xl">{{ heading }}</h1>

    <p class="govuk-body">{{ body }}</p>

    <form method="post" action="" novalidate>
      <div class="govuk-form-group{% if fieldErrors and fieldErrors.caseNumberFieldName %} govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="caseNumberFieldName">
          {{ caseNumberFieldLabel }}
        </label>
        {% if fieldErrors and fieldErrors.caseNumberFieldName %}
          <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ fieldErrors.caseNumberFieldName.text }}
          </p>
        {% endif %}
        <input class="govuk-input{% if fieldErrors and fieldErrors.caseNumberFieldName %} govuk-input--error{% endif %}"
               id="caseNumberFieldName"
               name="caseNumberFieldName"
               type="text"
               value="{{ data.caseNumberFieldName }}">
      </div>

      <div class="govuk-form-group{% if fieldErrors and fieldErrors.caseNameFieldName %} govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="caseNameFieldName">
          {{ caseNameFieldLabel }}
        </label>
        {% if fieldErrors and fieldErrors.caseNameFieldName %}
          <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ fieldErrors.caseNameFieldName.text }}
          </p>
        {% endif %}
        <input class="govuk-input{% if fieldErrors and fieldErrors.caseNameFieldName %} govuk-input--error{% endif %}"
               id="caseNameFieldName"
               name="caseNameFieldName"
               type="text"
               value="{{ data.caseNameFieldName }}">
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        {{ saveButton }}
      </button>
    </form>

  </div>
</div>
{% endblock %}
