{% extends "layouts/base-template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block beforeContent %}
  {% set bannerHtml %}
    {{ feedback.part1 }}<a class="govuk-link" aria-label="{{ feedback.ariaLabel }}" href="{{ feedback.link }}{{ pageUrl }}" target="_blank">{{ feedback.part2 }}</a>{{ feedback.part3 }}
  {% endset %}
  {{ govukPhaseBanner({
    tag: {
      text: phase
    },
    html: bannerHtml,
    rebrand: true
  }) }}
  {% block backLink %}
    {{ govukBackLink({
      text: back,
      href: "#"
    }) }}
  {% endblock %}
{% endblock %}

{% block page_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">{{ title }}</h1>
  </div>
</div>

<div class="govuk-grid-row">
  {% for tile in tiles %}
    <div class="govuk-grid-column-one-half">
      <a href="{{ tile.href }}" class="admin-tile">
        <h2 class="admin-tile__heading">{{ tile.title }}</h2>
        <p class="admin-tile__description">{{ tile.description }}</p>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}
