{% extends "layouts/base-template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block page_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: backLink,
      href: "/remove-list/select" + ("?lng=cy" if lng == "cy" else "")
    }) }}

    {% if errors %}
      {{ govukErrorSummary({
        titleText: errorSummaryTitle,
        errorList: errors
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">{{ heading }}</h1>

    <p class="govuk-body">{{ description }}</p>

    <ul class="govuk-list govuk-list--bullet">
      {% for summary in artefactSummaries %}
      <li>{{ summary }}</li>
      {% endfor %}
    </ul>

    <form method="post" novalidate>
      {{ govukRadios({
        name: "confirmation",
        fieldset: {
          legend: {
            text: heading,
            isPageHeading: false,
            classes: "govuk-visually-hidden"
          }
        },
        errorMessage: confirmationError,
        items: [
          {
            value: "yes",
            text: radioYes
          },
          {
            value: "no",
            text: radioNo
          }
        ]
      }) }}

      {{ govukButton({
        text: continueButton
      }) }}
    </form>

  </div>
</div>
{% endblock %}
