{% extends "layouts/base-template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  {{ title }} - {{ serviceName }} - {{ govUk }}
{% endblock %}

{% block page_content %}
<div class="parent-box">

  <h1 class="govuk-heading-l">{{ heading }}</h1>

  <div class="govuk-button-group">
    {{ govukButton({
      text: addButton,
      href: '/location-name-search'
    }) }}

    {% if count > 0 %}
      {{ govukButton({
        text: bulkUnsubscribeButton,
        href: '/bulk-unsubscribe',
        classes: 'govuk-button--secondary'
      }) }}
    {% endif %}
  </div>

  {% if count > 0 %}
    <table class="govuk-table" id="locations-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-three-quarters" aria-sort="none">{{ tableHeaderLocation }}</th>
          <th scope="col" class="govuk-table__header">{{ tableHeaderDate }}</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">{{ tableHeaderActions }}</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for subscription in subscriptions %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="vertical-align: middle;">{{ subscription.locationName }}</td>
            <td class="govuk-table__cell" style="white-space: nowrap; vertical-align: middle;">{{ subscription.dateAdded | date('D MMMM YYYY') }}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <form method="post" action="/delete-subscription" style="display: inline; margin: 0; padding: 0;">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <input type="hidden" name="subscriptionId" value="{{ subscription.subscriptionId }}">
                <button type="submit" class="govuk-link govuk-button-as-link" aria-label="Remove subscription for {{ subscription.locationName }}">
                  {{ removeLink }}
                </button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="govuk-body">{{ noSubscriptions }}</p>
  {% endif %}

</div>
{% endblock %}
