{% extends "layouts/base-template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block backLink %}
  {{ govukBackLink({
    text: back,
    href: backLink
  }) }}
{% endblock %}

{% block page_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p class="govuk-body">{{ description }}</p>

    <nav class="govuk-!-margin-top-6" aria-label="Court and tribunal locations">
      {% for letter, locations in groupedLocations %}
        <div class="govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-3">{{ letter }}</h2>
          <ul class="govuk-list">
            {% for location in locations %}
              <li>
                <a href="/summary-of-publications?locationId={{ location.locationId }}" class="govuk-link">
                  {% if locale === "cy" %}
                    {{ location.welshName }}
                  {% else %}
                    {{ location.name }}
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </nav>

  </div>
</div>
{% endblock %}
