{% extends "layouts/base-template.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  <p class="govuk-body">{{ sections.intro.content }}<a href="{{ sections.intro.serviceUrlFull }}" class="govuk-link">{{ sections.intro.serviceUrl }}</a>.</p>
  <p class="govuk-body">{{ sections.intro.serviceDescription }}</p>

  <p class="govuk-body">{{ sections.intro.commitment }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for feature in sections.intro.features %}
      <li>{{ feature }}</li>
    {% endfor %}
  </ul>

  <p class="govuk-body">{{ sections.intro.simpleLanguage }}</p>
  <p class="govuk-body">
    {% if sections.intro.abilityNetPrefix %}{{ sections.intro.abilityNetPrefix }}{% endif %}<a href="{{ sections.intro.abilityNetUrl }}" class="govuk-link" target="_blank" rel="noopener noreferrer">{{ sections.intro.abilityNetLink }}</a>{{ sections.intro.abilityNetText }}
  </p>

  <h2 class="govuk-heading-l">{{ sections.howAccessible.heading }}</h2>
  <p class="govuk-body">{{ sections.howAccessible.content }}</p>
  <p class="govuk-body">{{ sections.howAccessible.contingency }}</p>

  <h3 class="govuk-heading-m">{{ sections.feedback.heading }}</h3>
  <p class="govuk-body">{{ sections.feedback.textRelay }}</p>
  <p class="govuk-body">{{ sections.feedback.audioLoops }}</p>
  <p class="govuk-body">{{ sections.feedback.contactPrompt }}</p>
  <p class="govuk-body">{{ sections.feedback.formatRequest }}</p>
  <h4 class="govuk-heading-s">{{ sections.feedback.contact.name }}</h4>
  <p class="govuk-body">{{ sections.feedback.contact.phone }}</p>
  <p class="govuk-body">{{ sections.feedback.contact.hours }}</p>
  <p class="govuk-body">{{ sections.feedback.contact.email }}</p>
  <p class="govuk-body">{{ sections.feedback.response }}</p>

  <h3 class="govuk-heading-m">{{ sections.reporting.heading }}</h3>
  <p class="govuk-body">{{ sections.reporting.content }}</p>
  <h4 class="govuk-heading-s">{{ sections.reporting.contact.name }}</h4>
  <p class="govuk-body">{{ sections.reporting.contact.phone }}</p>
  <p class="govuk-body">{{ sections.reporting.contact.hours }}</p>
  <p class="govuk-body">{{ sections.reporting.contact.email }}</p>

  <h3 class="govuk-heading-m">{{ sections.enforcement.heading }}</h3>
  <p class="govuk-body">
    {{ sections.enforcement.content }}<a href="{{ sections.enforcement.eassUrl }}" class="govuk-link" target="_blank" rel="noopener noreferrer">{{ sections.enforcement.eassLinkText }}</a>{{ sections.enforcement.contentSuffix }}
  </p>

  <h3 class="govuk-heading-m">{{ sections.technical.heading }}</h3>
  <p class="govuk-body">{{ sections.technical.content }}</p>

  <h3 class="govuk-heading-m">{{ sections.compliance.heading }}</h3>
  <p class="govuk-body">
    {{ sections.compliance.content }}<a href="{{ sections.compliance.wcagUrl }}" class="govuk-link" target="_blank" rel="noopener noreferrer">{{ sections.compliance.wcagLinkText }}</a>{{ sections.compliance.contentSuffix }}
  </p>

  <h3 class="govuk-heading-m">{{ sections.nonAccessible.heading }}</h3>
  <p class="govuk-body">{{ sections.nonAccessible.intro }}</p>

  <h4 class="govuk-heading-s">{{ sections.nonAccessible.nonCompliance.heading }}</h4>
  <ul class="govuk-list govuk-list--bullet">
    {% for issue in sections.nonAccessible.nonCompliance.issues %}
      <li>{{ issue }}</li>
    {% endfor %}
  </ul>

  <h3 class="govuk-heading-m">{{ sections.testing.heading }}</h3>
  {% for paragraph in sections.testing.content %}
    <p class="govuk-body">{{ paragraph }}</p>
  {% endfor %}

  <h3 class="govuk-heading-m">{{ sections.preparation.heading }}</h3>
  {% for paragraph in sections.preparation.content %}
    {% if loop.last %}
      <p class="govuk-body govuk-!-margin-bottom-0">{{ paragraph }}</p>
    {% else %}
      <p class="govuk-body">{{ paragraph }}</p>
    {% endif %}
  {% endfor %}

  <p class="govuk-body back-to-top-link">
    <a href="#" class="govuk-link govuk-link--no-underline govuk-!-font-size-19 with-background">
      <svg focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
        <path fill="currentColor" d="M6.5 0 L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
      </svg>
      {{ backToTop }}
    </a>
  </p>
{% endblock %}
