{% extends "layouts/base-template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% macro getError(errors, fieldId) -%}
  {%- if errors -%}
    {%- for error in errors -%}
      {%- if error.href == fieldId -%}{{ error.text }}{%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endmacro %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errors %}
      {{ govukErrorSummary({
        titleText: errorSummaryTitle,
        errorList: errors
      }) }}
    {% endif %}

    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

    <form method="post" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      {% set jurisdictionErrorText = getError(errors, "#jurisdictionId") %}
      {{ govukSelect({
        id: "jurisdictionId",
        name: "jurisdictionId",
        label: {
          text: jurisdictionLabel,
          classes: "govuk-label--s"
        },
        items: jurisdictionItems,
        value: data.jurisdictionId,
        errorMessage: { text: jurisdictionErrorText } if (jurisdictionErrorText and jurisdictionErrorText | length > 0) else undefined
      }) }}

      {% set nameErrorText = getError(errors, "#name") %}
      {{ govukInput({
        id: "name",
        name: "name",
        label: {
          text: nameLabel,
          classes: "govuk-label--s"
        },
        hint: {
          text: nameHint
        },
        value: data.name,
        errorMessage: { text: nameErrorText } if (nameErrorText and nameErrorText | length > 0) else undefined
      }) }}

      {% set welshNameErrorText = getError(errors, "#welshName") %}
      {{ govukInput({
        id: "welshName",
        name: "welshName",
        label: {
          text: welshNameLabel,
          classes: "govuk-label--s"
        },
        hint: {
          text: welshNameHint
        },
        value: data.welshName,
        errorMessage: { text: welshNameErrorText } if (welshNameErrorText and welshNameErrorText | length > 0) else undefined
      }) }}

      {{ govukButton({
        text: saveButtonText
      }) }}
    </form>

  </div>
</div>
{% endblock %}
