@use "govuk-frontend/dist/govuk/index" with (
  $govuk-suppressed-warnings: ("import-using-all")
);
@use "@hmcts/web-core/src/assets/css/search-autocomplete.scss";

.govuk-service-navigation__navigation-end {
  margin-left: auto !important;
}

.account-sections-container {
  display: flex;
  gap: 1.5em;
  margin-bottom: 1.5em;
}

.account-section-box {
  background-color: #f3f2f1;
  border: solid 1px #b1b4b6;
  height: 100%;
  padding: 0 1em;
  min-height: 150px;
  flex: 1;
}

.account-section-heading {
  margin-top: 1em;
}

.account-section-link {
  text-decoration: underline;
  font-weight: bold;
}

.account-section-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.govuk-phase-banner__content > span {
  width: 100%;
}

.govuk-phase-banner {
  border-bottom-color: #8eb8dc;
}

.govuk-footer__copyright-logo {
  margin-bottom: 12px !important;
  padding: 4px 0 !important;
}

.govuk-footer__copyright .govuk-footer__link:not(.govuk-footer__copyright-logo) {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  display: inline-block !important;
}

.govuk-form-group--error {
  border-left: none !important;
  padding-left: 0 !important;
}
