@use "govuk-frontend/dist/govuk/index" with (
  $govuk-suppressed-warnings: ("import-using-all")
);
@use "@hmcts/web-core/src/assets/css/search-autocomplete.scss";
@use "@hmcts/web-core/src/assets/css/filter-panel.scss";
@use "@hmcts/web-core/src/assets/css/back-to-top.scss";
@use "@hmcts/admin-pages/src/assets/css/index.scss" as admin;
@use "../../../../../libs/system-admin/src/assets/css/dashboard.scss";
@use "@hmcts/verified-pages/src/assets/css/index.scss" as verified;

.govuk-service-navigation__navigation-end {
  margin-left: auto !important;
}

.govuk-phase-banner__content > span {
  width: 100%;
}

.govuk-phase-banner {
  border-bottom-color: #8eb8dc;
}

.govuk-footer__copyright-logo {
  margin-bottom: 12px !important;
  padding: 4px 0 !important;
}

.govuk-footer__copyright .govuk-footer__link:not(.govuk-footer__copyright-logo) {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  display: inline-block !important;
}
