@use "govuk-frontend/dist/govuk/index";
@use "./search-autocomplete.scss";
@use "./filter-panel.scss";
@use "./back-to-top.scss";
@use "./button-as-link.scss";
@use "./admin-pages.scss" as admin;
@use "./dashboard.scss";
@use "./user-management.scss";
@use "./verified-pages.scss" as verified;
@use "./session-timeout.scss";
@use "./list-types/magistrates-standard-list.scss";
@use "./list-types/sjp-filters.scss";
@use "./list-types/sjp-public-list.scss";

.govuk-service-navigation__navigation-end {
  margin-left: auto !important;
}

.app-language-toggle {
  margin-left: 0.5rem !important;
}

.govuk-phase-banner__content > span {
  width: 100%;
}

.govuk-phase-banner {
  border-bottom-color: #8eb8dc;
}

.govuk-footer__copyright-logo {
  margin-bottom: 12px !important;
  padding: 4px 0 !important;
}

.govuk-footer__copyright .govuk-footer__link:not(.govuk-footer__copyright-logo) {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  display: inline-block !important;
}

.govuk-footer__licence-logo {
  display: inline-block !important;
  vertical-align: top;
  margin-right: 0.5em;
}

.govuk-footer__licence-description {
  display: inline !important;
}
