{% extends "layouts/base-template.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errors %}
      {{ govukErrorSummary({
        titleText: errorSummaryTitle,
        errorList: errors
      }) }}
    {% endif %}

    {% if hasArtefacts %}
      <p class="govuk-body">
        <a href="/remove-list-search" class="govuk-link govuk-body">{{ removeArtefactsLinkText }}</a>
      </p>
    {% endif %}

    <h1 class="govuk-heading-xl">{{ title }}</h1>

    {{ govukSummaryList({
      rows: [
        {
          key: { text: listTypeLabel },
          value: { text: listTypeName }
        }
      ]
    }) }}

    <form method="post" novalidate>
      {{ govukRadios({
        name: "confirmDelete",
        classes: "govuk-radios--inline",
        fieldset: {
          legend: {
            text: confirmDeleteLabel,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: confirmDeleteHint
        },
        items: [
          {
            value: "yes",
            text: yesOption,
            checked: data.confirmDelete === "yes"
          },
          {
            value: "no",
            text: noOption,
            checked: data.confirmDelete === "no"
          }
        ],
        errorMessage: errors.confirmDelete if errors.confirmDelete
      }) }}

      {{ govukButton({
        text: confirmButton
      }) }}

      <a href="/manage-list-type?id={{ id }}" class="govuk-link govuk-!-margin-left-2">{{ cancelLink }}</a>

    </form>

  </div>
</div>
{% endblock %}
