{% extends "layouts/base-template.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block page_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: heading,
      classes: "govuk-panel--confirmation"
    }) }}

    <p class="govuk-body">{{ bodyText }}</p>

    <p class="govuk-body">
      <a href="/sign-in" class="govuk-link">{{ signInAgainLink }}</a>
    </p>

  </div>
</div>
{% endblock %}
