# Local preview values with hardcoded latest tags for manual helm deploy
global:
  environment: preview
  security:
    allowInsecureImages: true

# Enable/disable subcharts
postgres:
  enabled: true
web:
  enabled: true
api:
  enabled: true
crons:
  enabled: true

# Web application configuration
cath-web:
  nodejs:
    image: "hmctspublic.azurecr.io/cath/cath-web:latest"
    ingressHost: "cath-{{ .Release.Name }}-web.preview.platform.hmcts.net"
    environment:
      REDIS_URL: "redis://{{ .Release.Name }}-redis-master:6379"
      POSTGRES_DATABASE: "{{ .Release.Name }}"
    secrets:
      POSTGRES_HOST:
        secretRef: postgres
        key: HOST
      POSTGRES_USER:
        secretRef: postgres
        key: USER
      POSTGRES_PASSWORD:
        secretRef: postgres
        key: PASSWORD
      POSTGRES_PORT:
        secretRef: postgres
        key: PORT

# API application configuration
cath-api:
  nodejs:
    image: "hmctspublic.azurecr.io/cath/cath-api:latest"
    ingressHost: "cath-{{ .Release.Name }}-api.preview.platform.hmcts.net"

# Crons application configuration
cath-crons:
  job:
    image: "hmctspublic.azurecr.io/cath/cath-crons:latest"
    schedule: "*/5 * * * *"
    suspend: false
    kind: CronJob

# Postgres Prisma Studio service configuration
cath-postgres:
  nodejs:
    image: "hmctspublic.azurecr.io/cath/cath-postgres:latest"
    ingressHost: "cath-{{ .Release.Name }}-postgres.preview.platform.hmcts.net"
    environment:
      POSTGRES_DATABASE: "{{ .Release.Name }}"
    secrets:
      POSTGRES_HOST:
        secretRef: postgres
        key: HOST
      POSTGRES_USER:
        secretRef: postgres
        key: USER
      POSTGRES_PASSWORD:
        secretRef: postgres
        key: PASSWORD
      POSTGRES_PORT:
        secretRef: postgres
        key: PORT

# PostgreSQL database configuration
postgresql:
  enabled: true
  flexibleserver: cath-preview
  setup:
    databases:
      - name: "{{ .Release.Name }}"

# Redis cache configuration
redis:
  enabled: true
  architecture: standalone
  auth:
    enabled: false
  master:
    persistence:
      enabled: false
  replica:
    replicaCount: 0
  image:
    registry: hmctspublic.azurecr.io
    repository: imported/bitnami/redis
