# Global values shared by all subcharts
global:
  environment: preview
  security:
    allowInsecureImages: true

# Enable/disable subcharts
postgres:
  enabled: true
web:
  enabled: true
api:
  enabled: true
crons:
  enabled: true

# Web application configuration
cath-web:
  nodejs:
    image: "hmctspublic.azurecr.io/cath/cath-web:${WEB_IMAGE}"
    ingressHost: "${TEAM_NAME}-{{ .Release.Name }}-web.preview.platform.hmcts.net"
    environment:
      REDIS_URL: "redis://{{ .Release.Name }}-redis-master:6379"
    keyVaults:
      pip-ss-kv:
        secrets:
          - name: db-url
            alias: DATABASE_URL
    secrets:
      POSTGRES_HOST:
        secretRef: postgres
        key: HOST
      POSTGRES_USER:
        secretRef: postgres
        key: USER
      POSTGRES_PASSWORD:
        secretRef: postgres
        key: PASSWORD
      POSTGRES_PORT:
        secretRef: postgres
        key: PORT

# API application configuration
cath-api:
  nodejs:
    image: "hmctspublic.azurecr.io/cath/cath-api:${API_IMAGE}"
    ingressHost: "${TEAM_NAME}-{{ .Release.Name }}-api.preview.platform.hmcts.net"
    keyVaults:
      pip-ss-kv:
        secrets:
          - name: db-url
            alias: DATABASE_URL

# Crons application configuration
cath-crons:
  job:
    image: "hmctspublic.azurecr.io/cath/cath-crons:${CRONS_IMAGE}"
    schedule: "*/5 * * * *"
    suspend: false
    kind: CronJob
    keyVaults:
      pip-ss-kv:
        secrets:
          - name: db-url
            alias: DATABASE_URL

# Postgres Prisma Studio service configuration
cath-postgres:
  nodejs:
    image: "hmctspublic.azurecr.io/cath/cath-postgres:${POSTGRES_IMAGE}"
    ingressHost: "${TEAM_NAME}-{{ .Release.Name }}-postgres.preview.platform.hmcts.net"
    keyVaults:
      pip-ss-kv:
        secrets:
          - name: db-url
            alias: DATABASE_URL
    secrets:
      POSTGRES_HOST:
        secretRef: postgres
        key: HOST
      POSTGRES_USER:
        secretRef: postgres
        key: USER
      POSTGRES_PASSWORD:
        secretRef: postgres
        key: PASSWORD
      POSTGRES_PORT:
        secretRef: postgres
        key: PORT

# PostgreSQL database configuration
postgresql:
  enabled: true
  flexibleserver: cath-preview
  setup:
    databases:
      - name: "{{ .Release.Name }}"

# Redis cache configuration
redis:
  enabled: true
  architecture: standalone
  auth:
    enabled: false
  master:
    persistence:
      enabled: false
  replica:
    replicaCount: 0
  image:
    registry: hmctspublic.azurecr.io
    repository: imported/bitnami/redis
