{% extends "layouts/base-template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% block page_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if errors %}
      {{ govukErrorSummary({
        titleText: errorSummaryTitle,
        errorList: errors
      }) }}
    {% endif %}

    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <p class="govuk-body">
      {{ listContaining }} {{ list.caseCount }} {{ casesText }}
      {{ generatedOn }} {{ list.generatedAt | date }} {{ at }} {{ list.generatedAt | time }}.
    </p>

    <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="filter-toggle">
      {% if filters.searchQuery or (filters.postcodes and filters.postcodes.length > 0) or (filters.prosecutors and filters.prosecutors.length > 0) %}{{ hideFilters }}{% else %}{{ showFilters }}{% endif %}
    </button>

    {% if pagination.totalPages > 1 %}
    <nav class="govuk-pagination govuk-!-margin-top-4 govuk-!-margin-bottom-4" role="navigation" aria-label="Pagination">
      {% if pagination.hasPrevious %}
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="?artefactId={{ list.artefactId }}&page={{ pagination.currentPage - 1 }}{% if filters.searchQuery %}&search={{ filters.searchQuery }}{% endif %}{% if filters.postcodes %}{% for pc in filters.postcodes %}&postcode={{ pc }}{% endfor %}{% endif %}{% if filters.prosecutors %}{% for p in filters.prosecutors %}&prosecutor={{ p }}{% endfor %}{% endif %}">
            <span class="govuk-pagination__link-label">{{ previous }}</span>
          </a>
        </div>
      {% endif %}

      <ul class="govuk-pagination__list">
        {% for pageNum in pagination.pageNumbers %}
          <li class="govuk-pagination__item {% if pageNum === pagination.currentPage %}govuk-pagination__item--current{% endif %}">
            <a class="govuk-link govuk-pagination__link" href="?artefactId={{ list.artefactId }}&page={{ pageNum }}{% if filters.searchQuery %}&search={{ filters.searchQuery }}{% endif %}{% if filters.postcodes %}{% for pc in filters.postcodes %}&postcode={{ pc }}{% endfor %}{% endif %}{% if filters.prosecutors %}{% for p in filters.prosecutors %}&prosecutor={{ p }}{% endfor %}{% endif %}" aria-label="Page {{ pageNum }}" {% if pageNum === pagination.currentPage %}aria-current="page"{% endif %}>
              {{ pageNum }}
            </a>
          </li>
        {% endfor %}
      </ul>

      {% if pagination.hasNext %}
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="?artefactId={{ list.artefactId }}&page={{ pagination.currentPage + 1 }}{% if filters.searchQuery %}&search={{ filters.searchQuery }}{% endif %}{% if filters.postcodes %}{% for pc in filters.postcodes %}&postcode={{ pc }}{% endfor %}{% endif %}{% if filters.prosecutors %}{% for p in filters.prosecutors %}&prosecutor={{ p }}{% endfor %}{% endif %}">
            <span class="govuk-pagination__link-label">{{ next }}</span>
          </a>
        </div>
      {% endif %}
    </nav>
    {% endif %}

    <div class="moj-filter-layout">
      <div class="filter-form layout-width-two-filters {% if not (filters.searchQuery or (filters.postcodes and filters.postcodes.length > 0) or (filters.prosecutors and filters.prosecutors.length > 0)) %}hidden{% endif %}" id="filter-panel">
        <form method="post" class="moj-filter-layout__filter" autocomplete="off">
          <input type="hidden" name="artefactId" value="{{ list.artefactId }}">

        <div class="moj-filter" data-module="moj-filter" style="border: 1px solid #b1b4b6;">
          <div class="moj-filter__header">
            <div class="moj-filter__header-title">
              <div class="govuk-!-padding-4" style="background-color: #d8d8d8; border-bottom: 1px solid #b1b4b6;">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0" tabindex="0">{{ filterTitle }}</h2>
              </div>
            </div>
          </div>

          {# Selected Filters Section - Always visible #}
          <div class="govuk-!-padding-4 govuk-!-margin-bottom-0" style="background-color: #f3f2f1; border-bottom: 1px solid #b1b4b6;">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-3">{{ selectedFilters }}</h3>
            <a href="?artefactId={{ list.artefactId }}" class="govuk-link">{{ clearFilters }}</a>

            {% if filters.searchQuery or (filters.postcodes and filters.postcodes.length > 0) or (filters.prosecutors and filters.prosecutors.length > 0) %}
            <div class="filter-tags govuk-!-margin-top-4">
              {% if filters.searchQuery %}
                <span class="filter-tag">
                  {{ filters.searchQuery }}
                  <a href="?artefactId={{ list.artefactId }}{% if filters.postcodes %}{% for pc in filters.postcodes %}&postcode={{ pc }}{% endfor %}{% endif %}{% if filters.prosecutors %}{% for p in filters.prosecutors %}&prosecutor={{ p }}{% endfor %}{% endif %}" class="filter-tag-remove" aria-label="Remove {{ searchLabel }} filter">×</a>
                </span>
              {% endif %}

              {% if filters.postcodes and filters.postcodes.length > 0 %}
                {% for postcode in filters.postcodes %}
                  <span class="filter-tag">
                    {{ postcode }}
                    <a href="?artefactId={{ list.artefactId }}{% if filters.searchQuery %}&search={{ filters.searchQuery }}{% endif %}{% for pc in filters.postcodes %}{% if pc != postcode %}&postcode={{ pc }}{% endif %}{% endfor %}{% if filters.prosecutors %}{% for p in filters.prosecutors %}&prosecutor={{ p }}{% endfor %}{% endif %}" class="filter-tag-remove" aria-label="Remove {{ postcode }} filter">×</a>
                  </span>
                {% endfor %}
              {% endif %}

              {% if filters.prosecutors and filters.prosecutors.length > 0 %}
                {% for prosecutor in filters.prosecutors %}
                  <span class="filter-tag">
                    {{ prosecutor }}
                    <a href="?artefactId={{ list.artefactId }}{% if filters.searchQuery %}&search={{ filters.searchQuery }}{% endif %}{% if filters.postcodes %}{% for pc in filters.postcodes %}&postcode={{ pc }}{% endfor %}{% endif %}{% for p in filters.prosecutors %}{% if p != prosecutor %}&prosecutor={{ p }}{% endif %}{% endfor %}" class="filter-tag-remove" aria-label="Remove {{ prosecutor }} filter">×</a>
                  </span>
                {% endfor %}
              {% endif %}
            </div>
            {% endif %}
          </div>

          {# Filter Controls Section #}
          <div class="govuk-!-padding-4">
              {{ govukButton({
                text: applyFilters
              }) }}

              {{ govukInput({
                id: "search",
                name: "search",
                type: "text",
                label: {
                  text: searchLabel,
                  classes: "govuk-label--m"
                },
                value: filters.searchQuery,
                classes: "govuk-!-margin-bottom-4"
              }) }}

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                      <a href="javascript:;" class="govuk-link govuk-!-font-size-19" id="postcodes-anchor">{{ postcodeFilterHeading }}</a>
                      <span class="govuk-body govuk-!-font-size-19 filter-colour" id="postcodes-link">▶</span>
                    </h1>
                  </legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small" id="postcodes-checkbox" data-module="govuk-checkboxes">
                    {% for area in postcodeAreas %}
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="postcode-{{ loop.index }}" name="postcode" type="checkbox" value="{{ area }}" {% if filters.postcodes and filters.postcodes.indexOf(area) !== -1 %}checked{% endif %}>
                      <label class="govuk-label govuk-checkboxes__label" for="postcode-{{ loop.index }}">
                        {{ area }}
                      </label>
                    </div>
                    {% endfor %}
                    {% if hasLondonPostcodes %}
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="postcode-london" name="postcode" type="checkbox" value="LONDON_POSTCODES" {% if filters.postcodes and filters.postcodes.indexOf('LONDON_POSTCODES') !== -1 %}checked{% endif %}>
                      <label class="govuk-label govuk-checkboxes__label" for="postcode-london">
                        {{ londonPostcodesLabel }}
                      </label>
                    </div>
                    {% endif %}
                  </div>
                </fieldset>
              </div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                      <a href="javascript:;" class="govuk-link govuk-!-font-size-19" id="prosecutor-anchor">{{ prosecutorFilterHeading }}</a>
                      <span class="govuk-body govuk-!-font-size-19 filter-colour" id="prosecutor-link">▶</span>
                    </h1>
                  </legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small" id="prosecutor-checkbox" data-module="govuk-checkboxes">
                    {% for prosecutor in prosecutors %}
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="prosecutor-{{ loop.index }}" name="prosecutor" type="checkbox" value="{{ prosecutor }}" {% if filters.prosecutors and filters.prosecutors.indexOf(prosecutor) !== -1 %}checked{% endif %}>
                      <label class="govuk-label govuk-checkboxes__label" for="prosecutor-{{ loop.index }}">
                        {{ prosecutor }}
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="layout-width-four-fifths" id="content-area">
        {% if cases.length > 0 %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">
                <a href="?artefactId={{ list.artefactId }}&page={{ pagination.currentPage }}{% if filters.searchQuery %}&search={{ filters.searchQuery }}{% endif %}{% if filters.postcodes %}{% for pc in filters.postcodes %}&postcode={{ pc }}{% endfor %}{% endif %}{% if filters.prosecutors %}{% for p in filters.prosecutors %}&prosecutor={{ p }}{% endfor %}{% endif %}&sortBy=name&sortOrder={% if sortBy === 'name' and sortOrder === 'asc' %}desc{% else %}asc{% endif %}" class="govuk-link">
                  {{ nameHeader }}
                  {% if sortBy === 'name' %}
                    {% if sortOrder === 'asc' %}▲{% else %}▼{% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col" class="govuk-table__header">
                <a href="?artefactId={{ list.artefactId }}&page={{ pagination.currentPage }}{% if filters.searchQuery %}&search={{ filters.searchQuery }}{% endif %}{% if filters.postcodes %}{% for pc in filters.postcodes %}&postcode={{ pc }}{% endfor %}{% endif %}{% if filters.prosecutors %}{% for p in filters.prosecutors %}&prosecutor={{ p }}{% endfor %}{% endif %}&sortBy=postcode&sortOrder={% if sortBy === 'postcode' and sortOrder === 'asc' %}desc{% else %}asc{% endif %}" class="govuk-link">
                  {{ postcodeHeader }}
                  {% if sortBy === 'postcode' %}
                    {% if sortOrder === 'asc' %}▲{% else %}▼{% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col" class="govuk-table__header">
                <a href="?artefactId={{ list.artefactId }}&page={{ pagination.currentPage }}{% if filters.searchQuery %}&search={{ filters.searchQuery }}{% endif %}{% if filters.postcodes %}{% for pc in filters.postcodes %}&postcode={{ pc }}{% endfor %}{% endif %}{% if filters.prosecutors %}{% for p in filters.prosecutors %}&prosecutor={{ p }}{% endfor %}{% endif %}&sortBy=offence&sortOrder={% if sortBy === 'offence' and sortOrder === 'asc' %}desc{% else %}asc{% endif %}" class="govuk-link">
                  {{ offenceHeader }}
                  {% if sortBy === 'offence' %}
                    {% if sortOrder === 'asc' %}▲{% else %}▼{% endif %}
                  {% endif %}
                </a>
              </th>
              <th scope="col" class="govuk-table__header">
                <a href="?artefactId={{ list.artefactId }}&page={{ pagination.currentPage }}{% if filters.searchQuery %}&search={{ filters.searchQuery }}{% endif %}{% if filters.postcodes %}{% for pc in filters.postcodes %}&postcode={{ pc }}{% endfor %}{% endif %}{% if filters.prosecutors %}{% for p in filters.prosecutors %}&prosecutor={{ p }}{% endfor %}{% endif %}&sortBy=prosecutor&sortOrder={% if sortBy === 'prosecutor' and sortOrder === 'asc' %}desc{% else %}asc{% endif %}" class="govuk-link">
                  {{ prosecutorHeader }}
                  {% if sortBy === 'prosecutor' %}
                    {% if sortOrder === 'asc' %}▲{% else %}▼{% endif %}
                  {% endif %}
                </a>
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for row in casesRows %}
            <tr class="govuk-table__row">
              {% for cell in row %}
              <td class="govuk-table__cell">{{ cell.text }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="govuk-body">{{ noCasesFound }}</p>
        {% endif %}
      </div>
    </div>

    <div class="back-to-top-container">
      <a href="#" class="govuk-link" id="back-to-top">
        {{ backToTop }} ↑
      </a>
    </div>

  </div>
</div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script nonce="{{ cspNonce }}">
    // Show/Hide filter panel
    const filterToggle = document.getElementById('filter-toggle');
    const filterPanel = document.getElementById('filter-panel');
    const contentArea = document.getElementById('content-area');

    if (filterToggle && filterPanel && contentArea) {
      // Check sessionStorage for filter visibility state
      const filtersVisible = sessionStorage.getItem('sjp-public-filters-visible') === 'true';

      // Restore filter visibility from sessionStorage
      if (filtersVisible) {
        filterPanel.classList.remove('hidden');
        contentArea.classList.add('with-filters');
        filterToggle.textContent = '{{ hideFilters }}';
      } else {
        // Initialize: check if filter panel is visible on page load
        const isFilterPanelVisible = !filterPanel.classList.contains('hidden');

        if (isFilterPanelVisible) {
          contentArea.classList.add('with-filters');
          sessionStorage.setItem('sjp-public-filters-visible', 'true');
        } else {
          contentArea.classList.remove('with-filters');
        }
      }

      filterToggle.addEventListener('click', function() {
        if (filterPanel.classList.contains('hidden')) {
          // Show filters
          filterPanel.classList.remove('hidden');
          contentArea.classList.add('with-filters');
          filterToggle.textContent = '{{ hideFilters }}';
          sessionStorage.setItem('sjp-public-filters-visible', 'true');
        } else {
          // Hide filters
          filterPanel.classList.add('hidden');
          contentArea.classList.remove('with-filters');
          filterToggle.textContent = '{{ showFilters }}';
          sessionStorage.setItem('sjp-public-filters-visible', 'false');
        }
      });
    }

    // Collapsible filter sections
    function setupFilterToggle(anchorId, linkId, checkboxId) {
      const anchor = document.getElementById(anchorId);
      const link = document.getElementById(linkId);
      const checkbox = document.getElementById(checkboxId);

      if (anchor && link && checkbox) {
        // Initially show the checkboxes
        checkbox.style.display = 'block';
        link.classList.add('rotated');

        anchor.addEventListener('click', function(e) {
          e.preventDefault();
          const isHidden = checkbox.style.display === 'none';
          checkbox.style.display = isHidden ? 'block' : 'none';

          // Toggle rotation class
          if (isHidden) {
            link.classList.add('rotated');
          } else {
            link.classList.remove('rotated');
          }
        });
      }
    }

    // Setup postcode and prosecutor filter toggles
    setupFilterToggle('postcodes-anchor', 'postcodes-link', 'postcodes-checkbox');
    setupFilterToggle('prosecutor-anchor', 'prosecutor-link', 'prosecutor-checkbox');

    // Back to top
    const backToTopLink = document.getElementById('back-to-top');
    if (backToTopLink) {
      backToTopLink.addEventListener('click', function(e) {
        e.preventDefault();
        window.scrollTo({ top: 0, behavior: 'smooth' });
      });
    }
  </script>
{% endblock %}
