{% extends "layouts/base-template.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block page_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l" id="top">{{ header.listTitle }}</h1>

    {% if t.factLinkText %}
    <p class="govuk-body">
      <a href="{{ t.factLinkUrl }}" class="govuk-link">{{ t.factLinkText }}</a> {{ t.factAdditionalText }}
    </p>
    {% endif %}

    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">{{ t.venueName }}</p>
    <p class="govuk-body govuk-!-margin-bottom-0">{{ t.addressLine1 }}</p>
    <p class="govuk-body">{{ t.addressLine2 }}</p>

    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{ t.listFor }} {{ header.listDate }}</p>
    <p class="govuk-body">{{ t.lastUpdated }} {{ header.lastUpdatedDate }} {{ t.at }} {{ header.lastUpdatedTime }}</p>

    {{ govukDetails({
      summaryText: t.importantInformationHeading,
      html:
        '<p class="govuk-body govuk-!-font-weight-bold">' + t.importantInformationHeading1 + '</p>' +
        '<p class="govuk-body">' + t.importantInformationLine1 + '</p>' +
        '<p class="govuk-body govuk-!-font-weight-bold">' + t.importantInformationHeading2 + '</p>' +
        '<p class="govuk-body">' + t.importantInformationLine2 + '</p>' +
        '<p class="govuk-body govuk-!-font-weight-bold">' + t.importantInformationHeading3 + '</p>' +
        '<p class="govuk-body">' + t.importantInformationLine3 + '</p>',
      open: true
    }) }}

    <div class="govuk-form-group search-container">
      <h2 class="govuk-heading-s">{{ t.searchCasesTitle }}</h2>
      <label class="govuk-label govuk-visually-hidden" for="case-search-input">
        {{ t.searchCasesLabel }}
      </label>
      <input class="govuk-input govuk-!-width-one-half" id="case-search-input" name="search" type="text" aria-label="{{ t.searchCasesLabel }}">
    </div>

    {% if hearings.length > 0 %}
    <div class="hearings-section" id="hearings-section">
      <div id="hearings-table-container">
        <table class="govuk-table hearings-table" role="table" aria-label="{{ t.pageTitle }}">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">{{ t.tableHeaders.judge }}</th>
              <th scope="col" class="govuk-table__header">{{ t.tableHeaders.time }}</th>
              <th scope="col" class="govuk-table__header">{{ t.tableHeaders.venue }}</th>
              <th scope="col" class="govuk-table__header">{{ t.tableHeaders.type }}</th>
              <th scope="col" class="govuk-table__header">{{ t.tableHeaders.caseNumber }}</th>
              <th scope="col" class="govuk-table__header">{{ t.tableHeaders.caseName }}</th>
              <th scope="col" class="govuk-table__header">{{ t.tableHeaders.additionalInformation }}</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for hearing in hearings %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ hearing.judge }}</td>
                <td class="govuk-table__cell">{{ hearing.time }}</td>
                <td class="govuk-table__cell">{{ hearing.venue }}</td>
                <td class="govuk-table__cell">{{ hearing.type }}</td>
                <td class="govuk-table__cell">{{ hearing.caseNumber }}</td>
                <td class="govuk-table__cell">{{ hearing.caseName }}</td>
                <td class="govuk-table__cell">{{ hearing.additionalInformation }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% else %}
    <div class="hearings-section">
      <p class="govuk-body">{{ t.noHearingsMessage }}</p>
    </div>
    {% endif %}

    <p class="govuk-body-s govuk-!-margin-top-6">{{ t.dataSource }}: {{ dataSource }}</p>

    <div class="back-to-top">
      <a href="#top" class="govuk-link">{{ t.backToTop }}</a>
    </div>

  </div>
</div>
{% endblock %}
