{% extends "layouts/base-template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "moj/components/filter/macro.njk" import mojFilter %}

{% block page_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if errors %}
      {{ govukErrorSummary({
        titleText: errorSummaryTitle,
        errorList: errors
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p class="govuk-body">
      <a href="{{ factLinkUrl }}" class="govuk-link">{{ factLinkText }}</a> {{ factAdditionalText }}
    </p>

    {{ govukDetails({
      summaryText: accordionTitle,
      html: "<p class='govuk-body'>" + accordionContent + "</p>",
      open: true
    }) }}

    <p class="govuk-body">
      <strong>{{ listFor }} {{ list.contentDate | date }}</strong><br>
      {{ published }} {{ list.publishedAt | date }} {{ at }} {{ list.publishedAt | time12 }}
    </p>

    {{ govukDetails({
      summaryText: importantInfoTitle,
      html: "<p class='govuk-body'>" + importantInfoContent + " <a href='https://www.gov.uk/government/publications/guidance-to-staff-on-supporting-media-access-to-courts-and-tribunals/protocol-on-sharing-court-lists-registers-and-documents-with-the-media-accessible-version' class='govuk-link'>" + mediaProtocolLink + "</a></p>",
      open: true
    }) }}

    {% if downloadDisclaimerUrl %}
    <a href="{{ downloadDisclaimerUrl }}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      {{ downloadCopy }}
    </a>
    {% endif %}

    {% set filtersActive = showFilter or (filters.postcodes and filters.postcodes.length > 0) or (filters.prosecutors and filters.prosecutors.length > 0) %}

    <div class="moj-action-bar govuk-!-margin-top-2">
      <div class="moj-action-bar__filter"></div>
    </div>

    {% if pagination.totalPages > 1 %}
    <nav class="govuk-pagination govuk-!-margin-top-4 govuk-!-margin-bottom-4" role="navigation" aria-label="Pagination">
      {% if pagination.hasPrevious %}
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="?artefactId={{ list.artefactId }}&page={{ pagination.currentPage - 1 }}{% if filters.postcodes %}{% for pc in filters.postcodes %}&postcode={{ pc }}{% endfor %}{% endif %}{% if filters.prosecutors %}{% for p in filters.prosecutors %}&prosecutor={{ p }}{% endfor %}{% endif %}">
            <span class="govuk-pagination__link-label">{{ previous }}</span>
          </a>
        </div>
      {% endif %}

      <ul class="govuk-pagination__list">
        {% for pageNum in pagination.pageNumbers %}
          <li class="govuk-pagination__item {% if pageNum === pagination.currentPage %}govuk-pagination__item--current{% endif %}">
            <a class="govuk-link govuk-pagination__link" href="?artefactId={{ list.artefactId }}&page={{ pageNum }}{% if filters.postcodes %}{% for pc in filters.postcodes %}&postcode={{ pc }}{% endfor %}{% endif %}{% if filters.prosecutors %}{% for p in filters.prosecutors %}&prosecutor={{ p }}{% endfor %}{% endif %}" aria-label="Page {{ pageNum }}" {% if pageNum === pagination.currentPage %}aria-current="page"{% endif %}>
              {{ pageNum }}
            </a>
          </li>
        {% endfor %}
      </ul>

      {% if pagination.hasNext %}
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="?artefactId={{ list.artefactId }}&page={{ pagination.currentPage + 1 }}{% if filters.postcodes %}{% for pc in filters.postcodes %}&postcode={{ pc }}{% endfor %}{% endif %}{% if filters.prosecutors %}{% for p in filters.prosecutors %}&prosecutor={{ p }}{% endfor %}{% endif %}">
            <span class="govuk-pagination__link-label">{{ next }}</span>
          </a>
        </div>
      {% endif %}
    </nav>
    {% endif %}

    {% set filterOptionsHtml %}
      <input type="hidden" name="artefactId" value="{{ list.artefactId }}">
      {{ govukInput({
        id: "filter-search",
        name: "filter-search",
        type: "text",
        label: {
          text: searchLabel,
          classes: "govuk-label--m"
        },
        classes: "govuk-!-margin-bottom-4"
      }) }}

      <div class="filter-section">
        <button type="button" class="filter-section-toggle" aria-expanded="true" aria-controls="postcode-section" data-expanded-icon="▼" data-collapsed-icon="▶">
          <span class="filter-section-heading">{{ postcodeFilterHeading }}</span>
          <span class="filter-section-icon" aria-hidden="true">▼</span>
        </button>
        <div id="postcode-section" class="filter-section-content">
          <div class="govuk-checkboxes govuk-checkboxes--small" id="postcodes-checkbox" data-module="govuk-checkboxes">
            {% for area in postcodeAreas %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="postcode-{{ loop.index }}" name="postcode" type="checkbox" value="{{ area }}" {% if filters.postcodes and filters.postcodes.indexOf(area) !== -1 %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="postcode-{{ loop.index }}">
                {{ area }}
              </label>
            </div>
            {% endfor %}
            {% if hasLondonPostcodes %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="postcode-london" name="postcode" type="checkbox" value="LONDON_POSTCODES" {% if filters.postcodes and filters.postcodes.indexOf('LONDON_POSTCODES') !== -1 %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="postcode-london">
                {{ londonPostcodesLabel }}
              </label>
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="filter-section">
        <button type="button" class="filter-section-toggle" aria-expanded="true" aria-controls="prosecutor-section" data-expanded-icon="▼" data-collapsed-icon="▶">
          <span class="filter-section-heading">{{ prosecutorFilterHeading }}</span>
          <span class="filter-section-icon" aria-hidden="true">▼</span>
        </button>
        <div id="prosecutor-section" class="filter-section-content">
          <div class="govuk-checkboxes govuk-checkboxes--small" id="prosecutor-checkbox" data-module="govuk-checkboxes">
            {% for prosecutor in prosecutors %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="prosecutor-{{ loop.index }}" name="prosecutor" type="checkbox" value="{{ prosecutor }}" {% if filters.prosecutors and filters.prosecutors.indexOf(prosecutor) !== -1 %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="prosecutor-{{ loop.index }}">
                {{ prosecutor }}
              </label>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endset %}

    {% set selectedCategories = [] %}
    {% if filters.postcodes and filters.postcodes.length > 0 %}
      {% set postcodeTags = [] %}
      {% for postcode in filters.postcodes %}
        {% set removeHref = "?artefactId=" + list.artefactId %}
        {% for pc in filters.postcodes %}{% if pc != postcode %}{% set removeHref = removeHref + "&postcode=" + pc %}{% endif %}{% endfor %}
        {% if filters.prosecutors %}{% for p in filters.prosecutors %}{% set removeHref = removeHref + "&prosecutor=" + p %}{% endfor %}{% endif %}
        {% set postcodeTags = (postcodeTags.push({ text: postcode, href: removeHref }), postcodeTags) %}
      {% endfor %}
      {% set selectedCategories = (selectedCategories.push({ heading: { text: postcodeFilterHeading }, items: postcodeTags }), selectedCategories) %}
    {% endif %}
    {% if filters.prosecutors and filters.prosecutors.length > 0 %}
      {% set prosecutorTags = [] %}
      {% for prosecutor in filters.prosecutors %}
        {% set removeHref = "?artefactId=" + list.artefactId %}
        {% if filters.postcodes %}{% for pc in filters.postcodes %}{% set removeHref = removeHref + "&postcode=" + pc %}{% endfor %}{% endif %}
        {% for p in filters.prosecutors %}{% if p != prosecutor %}{% set removeHref = removeHref + "&prosecutor=" + p %}{% endif %}{% endfor %}
        {% set prosecutorTags = (prosecutorTags.push({ text: prosecutor, href: removeHref }), prosecutorTags) %}
      {% endfor %}
      {% set selectedCategories = (selectedCategories.push({ heading: { text: prosecutorFilterHeading }, items: prosecutorTags }), selectedCategories) %}
    {% endif %}

    <div class="moj-filter-layout app-filter-layout--reveal">
      <div class="moj-filter-layout__filter" id="filter-panel">
        <form method="post" autocomplete="off">
          {{ mojFilter({
            heading: { text: filterTitle },
            submit: { text: applyFilters },
            selectedFilters: {
              heading: { text: selectedFilters },
              clearLink: { href: "?artefactId=" + list.artefactId + "&showFilter=true", text: clearFilters },
              categories: selectedCategories
            },
            optionsHtml: filterOptionsHtml,
            attributes: {
              "data-show-text": showFilters,
              "data-hide-text": hideFilters,
              "data-close-text": hideFilters,
              "data-start-hidden": "true" if not filtersActive else "false",
              "data-big-mode-media-query": "(min-width: 99999px)"
            }
          }) }}
        </form>
      </div>

      <div class="moj-filter-layout__content" id="content-area">

    {% if cases.length > 0 %}
      {% for case in cases %}
        <div>
          {{ govukSummaryList({
            rows: [
              {
                key: { text: nameHeader },
                value: { text: case.name }
              },
              {
                key: { text: dobHeader },
                value: { html: (case.dateOfBirth | date) + (' (' + case.age + ')' if case.age else '') if case.dateOfBirth else '' }
              },
              {
                key: { text: referenceHeader },
                value: { text: case.reference or '' }
              },
              {
                key: { text: addressHeader },
                value: { text: case.address or '' }
              },
              {
                key: { text: prosecutorHeader },
                value: { text: case.prosecutor or '' }
              }
            ]
          }) }}
          {% for offence in case.offences %}
            <p class="govuk-body govuk-!-margin-top-3">
              {{ reportingRestrictionHeader }} - {{ "True" if offence.reportingRestriction else "False" }}<br>
              {% if offence.offenceWording %}
                {{ offence.offenceTitle }} - {{ offence.offenceWording }}
              {% else %}
                {{ offence.offenceTitle }}
              {% endif %}
            </p>
          {% endfor %}
        </div>
        {% if not loop.last %}
          <hr class="govuk-section-break govuk-section-break--visible">
        {% endif %}
      {% endfor %}

      {% else %}
        <p class="govuk-body">{{ noCasesFound }}</p>
      {% endif %}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <a href="#" class="govuk-link back-to-top-link"><span aria-hidden="true">▴ </span>{{ backToTop }}</a>
      </div>
    </div>

  </div>
</div>
{% endblock %}
