{% extends "layouts/base-template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block backLink %}
  <a href="/third-party-users/{{ userId }}/oauth-config{{ lngParam }}" class="govuk-back-link">{{ back }}</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

    {{ govukSummaryList({
      rows: [
        {
          key: { text: scopeLabel },
          value: { text: config.scope },
          actions: {
            items: [{ href: "/third-party-users/" + userId + "/oauth-config" + lngParam, text: changeLink, visuallyHiddenText: scopeLabel }]
          }
        },
        {
          key: { text: clientIdLabel },
          value: { text: config.clientId },
          actions: {
            items: [{ href: "/third-party-users/" + userId + "/oauth-config" + lngParam, text: changeLink, visuallyHiddenText: clientIdLabel }]
          }
        },
        {
          key: { text: clientSecretLabel },
          value: { text: config.clientSecret },
          actions: {
            items: [{ href: "/third-party-users/" + userId + "/oauth-config" + lngParam, text: changeLink, visuallyHiddenText: clientSecretLabel }]
          }
        }
      ]
    }) }}

    <form method="post" novalidate>
      {{ govukButton({
        text: confirmButton
      }) }}
    </form>

  </div>
</div>
{% endblock %}
