{% extends "layouts/base-template.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
{{ govukPanel({
  titleText: pageTitle,
  html: userName
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">{{ whatNextHeading }}</h2>

    <ul class="govuk-list">
      <li>
        <a href="/manage-third-party-users{{ '?lng=cy' if locale == 'cy' else '' }}" class="govuk-link">{{ manageAnotherUserLink }}</a>
      </li>
      <li>
        <a href="/system-admin-dashboard{{ '?lng=cy' if locale == 'cy' else '' }}" class="govuk-link">{{ homeLink }}</a>
      </li>
    </ul>

  </div>
</div>
{% endblock %}
