{% extends "govuk/template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set govukRebrand = true %}

{% block head %}
  <link href="{{ index_css }}" rel="stylesheet">

  {% include "components/head-analytics.njk" %}
{% endblock %}

{% block bodyStart %}
  {% include "components/body-start-analytics.njk" %}
  {% include "components/cookie-banner.njk" %}
{% endblock %}

{% block pageTitle %}
  {% include "components/page-title.njk" %}
{% endblock %}

{% block header %}
  {% include "components/site-header.njk" %}
  {% include "components/service-navigation.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "components/phase-banner-content.njk" %}
  {% block backLink %}
    {{ govukBackLink({
      text: back,
      href: "#"
    }) }}
  {% endblock %}
{% endblock %}

{% block content %}
  {% block error_summary %}
    {# Error summary would go here #}
  {% endblock %}

  {% block page_content %}
    {% if title %}
      <h1 class="govuk-heading-l">{{ title }}</h1>
    {% endif %}
  {% endblock %}
{% endblock %}

{% block footer %}
  {% include "components/site-footer.njk" %}
{% endblock %}

{% block bodyEnd %}
  {% include "components/body-end-scripts.njk" %}
  <script nonce="{{ cspNonce }}">
    document.getElementsByClassName("govuk-back-link").item(0).addEventListener("click", function() {
      history.back();
      event.preventDefault();
    });
  </script>
{% endblock %}