{% extends "layouts/base-template.njk" %}

{% set title = title or "Access Denied" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ message or "You do not have permission to access this page." }}</p>
  <p class="govuk-body">If you think you should have access, <a href="/contact-us" class="govuk-link">contact us</a> if you need to speak to someone about this service.</p>
{% endblock %}
