{% extends "layouts/base-template.njk" %}

{% set title = t.title %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ t.heading }}</h1>
  <p class="govuk-body">{{ t.typedAddress }}</p>
  <p class="govuk-body">{{ t.pastedAddress }}</p>
  <p class="govuk-body">{{ t.correctAddress }} <a href="/contact-us" class="govuk-link">{{ t.contactLink }}</a> {{ t.contactSuffix }}</p>
{% endblock %}