{% extends "layouts/base-template.njk" %}

{% set title = t.title %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ t.heading }}</h1>
  <p class="govuk-body">{{ t.tryAgain }}</p>
  <p class="govuk-body"><a href="/contact-us" class="govuk-link">{{ t.contactLink }}</a> {{ t.contactSuffix }}</p>

  {% if error %}
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          {{ t.errorDetailsSummary }}
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body"><strong>{{ t.errorLabel }}</strong> {{ error }}</p>
        {% if stack %}
          <pre style="background: #f3f2f1; padding: 15px; overflow-x: auto;">{{ stack }}</pre>
        {% endif %}
      </div>
    </details>
  {% endif %}
{% endblock %}