{% extends "layouts/base-template.njk" %}

{% set title = errorTitle or t.defaultTitle %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ errorTitle or t.defaultHeading }}</h1>
  <p class="govuk-body">{{ errorMessage or t.defaultMessage }}</p>
  <p class="govuk-body">{{ t.contactPrefix }} <a href="/contact-us" class="govuk-link">{{ t.contactLink }}</a> {{ t.contactSuffix }}</p>
{% endblock %}
