{% extends "layouts/base-template.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block page_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l" id="top">{{ header.listTitle }}</h1>

    {% if common.factLinkText %}
    <p class="govuk-body">
      <a href="{{ common.factLinkUrl }}" class="govuk-link">{{ common.factLinkText }}</a> {{ common.factAdditionalText }}
    </p>
    {% endif %}

    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{ common.listFor }} {{ header.listDate }}</p>
    <p class="govuk-body">{{ common.lastUpdated }} {{ header.lastUpdatedDate }} {{ common.at }} {{ header.lastUpdatedTime }}</p>

    {# Important information for Birmingham (20), Leeds (21), Bristol/Cardiff (22), and Manchester (23) Administrative Courts #}
    {% if (listTypeId == 20 or listTypeId == 21 or listTypeId == 22 or listTypeId == 23) and common.importantInfoTitle %}
    {{ govukDetails({
      summaryText: common.importantInfoTitle,
      html: '<p class="govuk-body">' + listContent.importantInfoText.split('\n\n').join('</p><p class="govuk-body">') + '</p><h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">' + listContent.judgmentsTitle + '</h3><p class="govuk-body">' + listContent.judgmentsText + '</p>',
      open: true
    }) }}
    {% endif %}

    <div class="govuk-form-group search-container">
      <h2 class="govuk-heading-s">{{ common.searchCasesTitle }}</h2>
      <label class="govuk-label govuk-visually-hidden" for="case-search-input">
        {{ common.searchCasesLabel }}
      </label>
      <input class="govuk-input govuk-!-width-one-half" id="case-search-input" name="search" type="text" aria-label="{{ common.searchCasesLabel }}">
    </div>

    <div id="hearings-table-container">
      <table class="govuk-table" id="hearings-table" role="table" aria-label="{{ header.listTitle }}">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">{{ common.tableHeaders.venue }}</th>
            <th scope="col" class="govuk-table__header">{{ common.tableHeaders.judge }}</th>
            <th scope="col" class="govuk-table__header">{{ common.tableHeaders.time }}</th>
            <th scope="col" class="govuk-table__header">{{ common.tableHeaders.caseNumber }}</th>
            <th scope="col" class="govuk-table__header">{{ common.tableHeaders.caseDetails }}</th>
            <th scope="col" class="govuk-table__header">{{ common.tableHeaders.hearingType }}</th>
            <th scope="col" class="govuk-table__header">{{ common.tableHeaders.additionalInformation }}</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for hearing in hearings %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ hearing.venue }}</td>
              <td class="govuk-table__cell">{{ hearing.judge }}</td>
              <td class="govuk-table__cell">{{ hearing.time }}</td>
              <td class="govuk-table__cell">{{ hearing.caseNumber }}</td>
              <td class="govuk-table__cell">{{ hearing.caseDetails }}</td>
              <td class="govuk-table__cell">{{ hearing.hearingType }}</td>
              <td class="govuk-table__cell">{{ hearing.additionalInformation }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <p class="govuk-body-s govuk-!-margin-top-6">{{ common.dataSource }}: {{ dataSource }}</p>

    <div class="back-to-top">
      <a href="#top" class="govuk-link">{{ common.backToTop }}</a>
    </div>

  </div>
</div>
{% endblock %}
