{% extends "layouts/base-template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block backLink %}{% endblock %}

{% block page_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ serviceName }}</h1>

    <ul class="govuk-list govuk-list--bullet">
      {% for item in hearingsList %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>

    <p class="govuk-body">{{ additionalInfo }}</p>

    <p class="govuk-body">
      {{ signInText }} <a href="/sign-in" class="govuk-link">{{ signInLink }}</a>.
    </p>

    <div class="govuk-inset-text">
      {{ welshAvailableText }} <a href="{{ languageToggle.link }}" class="govuk-link">{{ welshAvailableLink }}</a>.
    </div>

    {{ govukButton({
      text: continueButton,
      href: "/view-option",
      isStartButton: true
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-2">{{ factSectionTitle }}</h2>
    <p class="govuk-body">
      <a href="{{ factLinkUrl }}" class="govuk-link" rel="external">{{ factLinkText }}</a>{{ factSectionTextSuffix }}
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-top-5">{{ beforeYouStartTitle }}</h2>
    <h3 class="govuk-heading-s">{{ scotlandNorthernIrelandTitle }}</h3>
    <p class="govuk-body">{{ contactText }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="{{ scottishCourtsUrl }}" class="govuk-link" rel="external">{{ scottishCourtsLink }}</a>{{ scottishCourtsText }}</li>
      <li><a href="{{ niCourtsUrl }}" class="govuk-link" rel="external">{{ niCourtsLink }}</a>{{ niCourtsText }}</li>
    </ul>
  </div>
</div>
{% endblock %}
