{% extends "layouts/base-template.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukPanel({
      titleText: panelTitle,
      html: panelBody + (("<br><strong>" + createdName + "</strong>") if createdName else "")
    }) }}

    <p class="govuk-body">
      <a href="/third-party-users{{ lngParam }}" class="govuk-link">{{ manageUsersLink }}</a>
    </p>

  </div>
</div>
{% endblock %}
