# Local Development Helm Values
# This file is automatically used when running locally (not in Kubernetes/Azure)
# It references the pip-ss-kv-stg Key Vault with -dev suffixed secrets
# For pipeline deployments, see values.yaml

nodejs:
  applicationPort: 8080
  aadIdentityName: cath
  ingressHost: cath-web.{{ .Values.global.environment }}.platform.hmcts.net
  image: 'hmctspublic.azurecr.io/cath/cath-web:latest'
  environment:
    REDIS_HOST: 'cath-{{ .Values.global.environment }}.redis.cache.windows.net'
    BASE_URL: 'https://{{ .Values.nodejs.ingressHost }}'
    SSO_ALLOW_HTTP_REDIRECT: 'false'
    CFT_IDAM_URL: 'https://idam-web-public.aat.platform.hmcts.net'
    ENABLE_B2C: 'true'
    B2C_CUSTOM_DOMAIN: 'sign-in.pip-frontend.staging.platform.hmcts.net'
    B2C_CUSTOM_DOMAIN_PATH: 'pip-frontend.staging.platform.hmcts.net'
  keyVaults:
    # Local development uses pip-ss-kv-stg with -dev suffixed secrets
    pip-ss-kv-stg:
      secrets:
        # SSO secrets for local development
        - name: sso-client-id-dev
          alias: SSO_CLIENT_ID
        - name: sso-client-secret-dev
          alias: SSO_CLIENT_SECRET
        - name: sso-config-endpoint
          alias: SSO_IDENTITY_METADATA
        - name: sso-sg-system-admin
          alias: SSO_SYSTEM_ADMIN_GROUP_ID
        - name: sso-sg-admin-ctsc
          alias: SSO_INTERNAL_ADMIN_CTSC_GROUP_ID
        - name: sso-sg-admin-local
          alias: SSO_INTERNAL_ADMIN_LOCAL_GROUP_ID
        # CFT IDAM secret for local development
        - name: cft-idam-client-secret
          alias: CFT_IDAM_CLIENT_SECRET
        # B2C secrets for verified user sign-in (using PIP staging frontend app registration)
        - name: auto-pip-stg-pip-frontend-stg-id
          alias: B2C_CLIENT_ID
        - name: auto-pip-stg-pip-frontend-stg-pwd
          alias: B2C_CLIENT_SECRET
