{% extends "layouts/base-template.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block page_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

    <h2 class="govuk-heading-m">{{ subHeading }}</h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: courtName
          },
          value: {
            text: data.courtName
          },
          actions: {
            items: [
              {
                href: "/manual-upload#court",
                text: change,
                visuallyHiddenText: courtName
              }
            ]
          }
        },
        {
          key: {
            text: file
          },
          value: {
            text: data.file
          },
          actions: {
            items: [
              {
                href: "/manual-upload#file",
                text: change,
                visuallyHiddenText: file
              }
            ]
          }
        },
        {
          key: {
            text: listType
          },
          value: {
            text: data.listType
          },
          actions: {
            items: [
              {
                href: "/manual-upload#listType",
                text: change,
                visuallyHiddenText: listType
              }
            ]
          }
        },
        {
          key: {
            text: hearingStartDate
          },
          value: {
            text: data.hearingStartDate
          },
          actions: {
            items: [
              {
                href: "/manual-upload#hearingStartDate-day",
                text: change,
                visuallyHiddenText: hearingStartDate
              }
            ]
          }
        },
        {
          key: {
            text: sensitivity
          },
          value: {
            text: data.sensitivity
          },
          actions: {
            items: [
              {
                href: "/manual-upload#sensitivity",
                text: change,
                visuallyHiddenText: sensitivity
              }
            ]
          }
        },
        {
          key: {
            text: language
          },
          value: {
            text: data.language
          },
          actions: {
            items: [
              {
                href: "/manual-upload#language",
                text: change,
                visuallyHiddenText: language
              }
            ]
          }
        },
        {
          key: {
            text: displayFileDates
          },
          value: {
            text: data.displayFileDates
          },
          actions: {
            items: [
              {
                href: "/manual-upload#displayFrom-day",
                text: change,
                visuallyHiddenText: displayFileDates
              }
            ]
          }
        }
      ]
    }) }}

    <form method="post" novalidate>
      {{ govukButton({
        text: confirmButton
      }) }}
    </form>
  </div>
</div>
{% endblock %}
